{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}



<div class="row clearfix">
	<div class="col-md-8 column">
		<div class="post-tabs">
            {% include '_posts.html' %}
        </div>
            {% if pagination %}
		<div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
            {% endif %}
    </div>
	
	<div class="col-md-2 column">
		<h3><span class="label label-info">找找你喜欢的点</span></h3>
		{{ wtf.quick_form(form) }}
	</div>
        
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
